<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Master.master.cs" Inherits="Masters_Master" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><%= Data.HeadTitle %></title>
</head>
<body>
    <div>
        <asp:ContentPlaceHolder id="top" runat="server">
			Top content
        </asp:ContentPlaceHolder>
    </div>
    <div>
        <asp:ContentPlaceHolder id="bottom" runat="server">
			Bottom content
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
