<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="calyptus.mvc" type="Calyptus.MVC.Configuration.Config, Calyptus.MVC">
			<!--<section name="assemblies" type="System.Web.Configuration.AssemblyCollection" />-->
			<!--<section name="assemblies" type="Calyptus.MVC.Configuration.AssembliesSection, Calyptus.MVC" />-->
		</section>
	</configSections>
	<calyptus.mvc>
		<assemblies>
			<add assembly="Calyptus.MVC"/>
		</assemblies>
	</calyptus.mvc>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms cookieless="UseUri"/>
		</authentication>
		<sessionState cookieless="UseUri">
		</sessionState>
		<!--
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="NoAccess.htm" />
        <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
		<pages>
			<controls>
			</controls>
		</pages>
		<httpModules>
			<add name="Calyptus.MVC" type="Calyptus.MVC.RoutingModule, Calyptus.MVC"/>
		</httpModules>
		<httpHandlers>
			<!--<add verb="*" path="*.controller" type="Calyptus.MVC.RoutingFactory, Calyptus.MVC" />-->
			<!--<add verb="*" path="*" validate="false" type="Calyptus.MVC.RoutingFactory, Calyptus.MVC"/>-->
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="Calyptus.MVC" type="Calyptus.MVC.RoutingModule, Calyptus.MVC"/>
		</modules>
		<handlers>
			<add name="AllASP" path="*" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classic"/>
			<!--<add name="Calyptus.MVC" verb="*" path="*.controller" preCondition="integratedMode" type="Calyptus.MVC.RoutingFactory, Calyptus.MVC" />-->
			<!--<add name="Calyptus.MVC" verb="*" path="*" preCondition="integratedMode" type="Calyptus.MVC.RoutingFactory, Calyptus.MVC" />-->
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" compilerOptions="/optioninfer+" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
