<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="calyptus.mvc" type="Calyptus.MVC.Configuration.Config, Calyptus.MVC"/>
	</configSections>
	<calyptus.mvc extension=".axd" viewFactory="Calyptus.MVC.WebFormsViewFactory">
	</calyptus.mvc>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms cookieless="AutoDetect"/>
		</authentication>
		<sessionState cookieless="AutoDetect">
		</sessionState>
		<customErrors mode="Off"/>
		<pages>
			<controls>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="Calyptus.MVC.axd" type="Calyptus.MVC.RoutingHandler, Calyptus.MVC"/>
		</httpHandlers>
		<httpModules>
			<add name="Calyptus.MVC" type="Calyptus.MVC.RoutingModule, Calyptus.MVC"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="Calyptus.MVC" type="Calyptus.MVC.RoutingModule, Calyptus.MVC"/>
		</modules>
		<handlers>
			<add name="CalyptusMVCHandler" preCondition="integratedMode" verb="*" path="Calyptus.MVC.axd" type="Calyptus.MVC.RoutingHandler, Calyptus.MVC"/>
		</handlers>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
